Repository brave/ads-ui, changes with the owners that CODEOWNERS names for each.
All owners: @brave/ads-dev, @tackley, @IanKrieger

CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# the last match is the one that takes preference, so more general rules need to come first
#
# Note: this file primarily exists to ensure that PR's are tagged to review to a sensible audience, we
# deliberately allow review by any approved committer, not just the code owner.

# by default request review from all of ads-dev
* @brave/ads-dev

# to reduce renovate spam: just send these to the core team
/.github/workflows @tackley @IanKrieger

.node-version @tackley @IanKrieger

package*.json @tackley @IanKrieger
pnpm-lock.yaml @tackley @IanKrieger

fix(creative): dont pass multiple payloads
  src/user/views/adsManager/types/index.ts
Owners: @brave/ads-dev

fix(creative): only specifiy one payload
  src/components/Url/UrlResolver.tsx
Owners: @brave/ads-dev

fix(creative): dont pass multiple payloads (#1372)
  src/components/Url/UrlResolver.tsx
  src/user/views/adsManager/types/index.ts
Owners: @brave/ads-dev

fix(creative): for news creatives, we still need dimensions
  src/components/Creatives/CreateCreativeButton.tsx
  src/validation/CreativeSchema.tsx
Owners: @brave/ads-dev

fix(creative): for news creatives, we still need dimensions (#1374)
  src/components/Creatives/CreateCreativeButton.tsx
  src/validation/CreativeSchema.tsx
Owners: @brave/ads-dev

fix: upgrade eslint-lingui, fix errors
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Button/SubmitPanel.tsx
  src/routes/campaigns/analytics/CampaignAnalytics.tsx
  src/user/settings/UserForm.tsx
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev, @tackley, @IanKrieger

fix: update po files
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
Owners: @brave/ads-dev

Update source file en.po
  src/locales/en.po
Owners: @brave/ads-dev

feat(search): update talking point verbiage
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/search/SearchTalkingPoints.tsx
Owners: @brave/ads-dev

feat(search): update talking point verbiage (#1379)
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/search/SearchTalkingPoints.tsx
Owners: @brave/ads-dev

Update source file en.po
  src/locales/en.po
Owners: @brave/ads-dev

fix(validation): relax conversion type validation for backwards compatibility
  src/validation/CampaignSchema.tsx
Owners: @brave/ads-dev

fix(validation): relax conversion type validation for backwards compatibility (#1384)
  src/validation/CampaignSchema.tsx
Owners: @brave/ads-dev

feat(clone): use server campaign clone
  src/auth/lib/index.ts
  src/components/Campaigns/CloneCampaign.tsx
  src/form/fragmentUtil.ts
  src/graphql-client/gql.ts
  src/graphql-client/graphql.ts
  src/graphql/ads-serve.graphql.schema.json
  src/user/views/adsManager/types/index.ts
Owners: @brave/ads-dev

fix: extract localizations
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
Owners: @brave/ads-dev

feat(clone): use server campaign clone (#1389)
  src/auth/lib/index.ts
  src/components/Campaigns/CloneCampaign.tsx
  src/form/fragmentUtil.ts
  src/graphql-client/gql.ts
  src/graphql-client/graphql.ts
  src/graphql/ads-serve.graphql.schema.json
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/user/views/adsManager/types/index.ts
Owners: @brave/ads-dev

Update source file en.po
  src/locales/en.po
Owners: @brave/ads-dev

fix(deps): cross-spawn
  package.json
Owners: @tackley, @IanKrieger

fix: package lock
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

fix(deps): cross-spawn (#1392)
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

fix: nominal balances should not show account balance modal
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

fix: nominal balances should not show account balance modal (#1393)
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

feat(payments): allow for budget increases
  src/checkout/hooks/useIncreaseCampaignBudget.ts
  src/checkout/lib/index.ts
  src/user/views/adsManager/views/advanced/components/campaign/fields/BudgetField.tsx
Owners: @brave/ads-dev

fix: make sure netsuite cannot see
  src/user/views/adsManager/views/advanced/components/campaign/fields/BudgetField.tsx
Owners: @brave/ads-dev

feat(payments): allow for budget increases (#1395)
  src/checkout/hooks/useIncreaseCampaignBudget.ts
  src/checkout/lib/index.ts
  src/user/views/adsManager/views/advanced/components/campaign/fields/BudgetField.tsx
Owners: @brave/ads-dev
