Repository brave/ads-ui, changes with the owners that CODEOWNERS names for each.
All owners: @brave/ads-dev, @tackley, @IanKrieger

fix(search landing page): get talking points off edge of screen
  src/search/SearchLandingPage.tsx
  src/search/SearchTalkingPoints.tsx
Owners: @brave/ads-dev

fix(search landing page): get talking points off edge of screen (#1344)
  src/search/SearchLandingPage.tsx
  src/search/SearchTalkingPoints.tsx
Owners: @brave/ads-dev

fix(deps): update mui lab
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

New translations en.po (Spanish, Latin America)
  src/locales/es.po
Owners: @brave/ads-dev

feat(localization): new Spanish translations (#1346)
  src/locales/es.po
Owners: @brave/ads-dev

feat(search-preview): tweaks to search preview
  src/search/preview/CallToAction.tsx
  src/search/preview/SearchPreviewPage.tsx
  src/search/preview/SearchPreviewResults.tsx
  src/search/preview/SummaryPanel.tsx
  src/search/preview/options.ts
Owners: @brave/ads-dev

chore: audit fix
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

chore: audit fix (#1349)
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

Revert "chore: audit fix (#1349)"
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

chore(audit): ignore path-to-regexp outputs backtracking regular expressions
  package.json
Owners: @tackley, @IanKrieger

chore(audit): ignore path-to-regexp outputs backtracking regular expressions (#1350)
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

improve the rules based on review discussion
  src/search/preview/options.test.ts
  src/search/preview/options.ts
Owners: @brave/ads-dev

npm audit fix
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

correct typos
  src/search/preview/options.test.ts
  src/search/preview/options.ts
Owners: @brave/ads-dev

Update src/search/preview/options.ts
  src/search/preview/options.ts
Owners: @brave/ads-dev

feat(search-preview): tweaks to search preview (#1348)
  package.json
  pnpm-lock.yaml
  src/search/preview/CallToAction.tsx
  src/search/preview/SearchPreviewPage.tsx
  src/search/preview/SearchPreviewResults.tsx
  src/search/preview/SummaryPanel.tsx
  src/search/preview/options.test.ts
  src/search/preview/options.ts
Owners: @tackley, @IanKrieger, @brave/ads-dev

fix(newsletter): use new endpoint for newsletter sign up
  src/auth/lib/index.ts
Owners: @brave/ads-dev

fix(newsletter): use new endpoint for newsletter sign up (#1352)
  src/auth/lib/index.ts
Owners: @brave/ads-dev

fix(audit): upgrade rollup
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

fix(audit): upgrade rollup (#1358)
  package.json
  pnpm-lock.yaml
Owners: @tackley, @IanKrieger

fix(clone): Conversions should only be postclick
  src/form/fragmentUtil.ts
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/validation/CampaignSchema.tsx
Owners: @brave/ads-dev

fix(clone): conversions should only be postclick (#1359)
  src/form/fragmentUtil.ts
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/validation/CampaignSchema.tsx
Owners: @brave/ads-dev

Update source file en.po
  src/locales/en.po
Owners: @brave/ads-dev

chore(graphql): update codegen
  src/graphql-client/graphql.ts
  src/graphql/ads-serve.graphql.schema.json
Owners: @brave/ads-dev

chore(graphql): update codegen (#1363)
  src/graphql-client/graphql.ts
  src/graphql/ads-serve.graphql.schema.json
Owners: @brave/ads-dev

feat(account balance): add functionality to close campaigns and transfer balance
  src/components/Campaigns/CloseCampaignModal.tsx
  src/components/Datagrid/renderers.tsx
  src/components/Steps/ActionButtons.tsx
  src/components/Steps/CloseCampaignSidebar.tsx
  src/graphql-client/gql.ts
  src/graphql-client/graphql.ts
  src/graphql/campaign.graphql
  src/hooks/useStickyRef.ts
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/user/campaignList/CampaignList.tsx
  src/user/hooks/useGetAdvertiserAccountBalance.tsx
  src/user/settings/AccountBalance.tsx
  src/user/settings/Settings.tsx
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

fix: ref
  src/hooks/useStickyRef.ts
Owners: @brave/ads-dev

fix: make sure dialogue is only shown when relevant
  src/user/settings/AccountBalance.tsx
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

fix: remove dont show again, update verbiage
  src/components/Campaigns/CloseCampaignModal.tsx
  src/hooks/useStickyRef.ts
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/user/settings/AccountBalance.tsx
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

fix: format USD
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

feat(account balance): add functionality to close campaigns and transfer balance (#1356)
  src/components/Campaigns/CloseCampaignModal.tsx
  src/components/Datagrid/renderers.tsx
  src/components/Steps/ActionButtons.tsx
  src/components/Steps/CloseCampaignSidebar.tsx
  src/graphql-client/gql.ts
  src/graphql-client/graphql.ts
  src/graphql/campaign.graphql
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/user/campaignList/CampaignList.tsx
  src/user/hooks/useGetAdvertiserAccountBalance.tsx
  src/user/settings/AccountBalance.tsx
  src/user/settings/Settings.tsx
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

Update source file en.po
  src/locales/en.po
Owners: @brave/ads-dev

fix: account balance wording
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

fix: account balance wording (#1365)
  src/locales/en.po
  src/locales/es.po
  src/locales/pt.po
  src/locales/test.po
  src/user/views/adsManager/views/advanced/components/campaign/fields/PaymentMethodField.tsx
Owners: @brave/ads-dev

Update source file en.po
  src/locales/en.po
Owners: @brave/ads-dev

chore(creative): remove passing a specific type to the server
  src/components/Creatives/hooks/useSubmitCreative.tsx
  src/user/library/index.ts
Owners: @brave/ads-dev

fix creative type code
  src/user/library/index.test.ts
Owners: @brave/ads-dev

chore(creative): remove passing a specific type to the server (#1367)
  src/components/Creatives/hooks/useSubmitCreative.tsx
  src/user/library/index.test.ts
  src/user/library/index.ts
Owners: @brave/ads-dev

fix(creative): make sure type is not passed with button
  src/components/Creatives/CreateCreativeButton.tsx
Owners: @brave/ads-dev

fix(creative): make sure type is not passed with button (#1370)
  src/components/Creatives/CreateCreativeButton.tsx
Owners: @brave/ads-dev

CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# the last match is the one that takes preference, so more general rules need to come first
#
# Note: this file primarily exists to ensure that PR's are tagged to review to a sensible audience, we
# deliberately allow review by any approved committer, not just the code owner.

# by default request review from all of ads-dev
* @brave/ads-dev

# to reduce renovate spam: just send these to the core team
/.github/workflows @tackley @IanKrieger

.node-version @tackley @IanKrieger

package*.json @tackley @IanKrieger
pnpm-lock.yaml @tackley @IanKrieger
